<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist - Music 4 Later</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('./partials/nav') %>

  <main class="center">
    <h1><%-playlistData[0].playlistName%></h1>

      <h2>Created Songs</h2>
      <% for (let song of createdSongs) { %>
        <a href="/create/view?createId=<%=song.createId%>"><%=song.name%></a> - <%=song.artist%><br><br>
      <% } %>
      <h2>Precreated Songs</h2>
      <% for (let song of songs) { %>
        <p><%=song.name%> - <%=song.artist%></p>
      <% } %>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>
  
</body>
</html>
